.landing-page

    display: flex
    flex-direction: column
    height: 100vh
    width: 100vw

    .container-row
        display: flex
        flex-direction: row
        height: 100%
        width: 100%


        #col-1-ab, #col-2-ab
            flex: 1
            display: flex
            justify-content: center
            align-items: center

        #col-1-ab
            img
                width: 100%
                height: auto
                max-height: 100%
                object-fit: cover


        #col-2-ab
            background-color: #fff
            padding: 20px

            form
                width: 100%
                max-width: 300px